.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login_box {
    width: 30vw;
    max-width: 400px;
    height: 400px;
    /* background-color:e; */
    box-shadow: var(--blog-dark-hover);
    border: 2px solid var(--blog-dark-hover);
    border-radius: 1.6rem;
    padding: 20px;
}

.form_container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.login_text {
    font-size: 35px;
    font-weight: 700;
    color: var(--blog-dark-hover);
}

.input_field {
    font-size: 18px;
    padding: 10px;
    /* background-color: white; */
    color: rgb(66, 66, 66);
    border: 2px solid #000;
    border-radius: 2rem;
    outline: none;
    box-shadow: none;
    width: 90%;
    margin: 8px;
}

.btn_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.signin_button {
    width: 50%;
    padding: 8px;
    font-size: 18px;
    border: none;
    background-color: #000;
    color: white;
    font-weight: 600;
    border-radius: 2rem;
    margin-top: 10px;
    cursor: pointer;
}

.signin_button:hover {
    background-color: #fff;
    color: #333333;
    border: 2px solid #333333;
}

.signup_redirect_wrapper {
    margin-top: 15px;
}

.link {
    color: var(--blog-dark-hover);
    font-weight: 700;
}

@media only screen and (max-width: 1080px) {
    .login_box {
        width: 50vw;
    }

    .login_text {
        font-size: 28px;
    }
}

@media only screen and (max-width: 650px) {
    .login_box {
        width: 70vw;
    }

    .login_text {
        font-size: 25px;
    }

    .input_field {
        font-size: 16px;
    }
}