.segments {
    height: 100%;
}

.create_segments {
    display: flex;
    flex-direction: column;
}

.sentence {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sentence span {
    padding: 0 0.6rem;
    font-weight: 700;
}

.sentence input {
    width: 6rem;
    height: 1rem;
    padding: 0.5rem 1rem;
    background-color: #fff3bc;
}

.btn_container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    padding: 10px;
}

.btn_container button {
    width: 8rem;
    padding: 1rem;
    font-size: 14px;
    border: none;
    background-color: #000;
    color: white;
    font-weight: 600;
    margin-top: 10px;
    border-radius: .5rem;
    cursor: pointer;
}

.segment_output {
    height: 70vh;
    font-size: 1.125rem;
    overflow: scroll;
}

.segment_output span {
    font-size: 1.25rem;
    font-weight: 600;
}

.customer_details {
    width: 80%;
    margin: 1rem;
    padding: 1rem 2rem;
    background-color: #000;
    color: #fff;
    border-radius: 1rem;
}

.data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}